<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm6 class="text-sm-right">
        <v-btn large router to="/meetups" class="info">Explore Meetups</v-btn>
      </v-flex>
      <v-flex xs12 sm6>
        <v-btn large router to="/meetup/new" class="info">Organize Meetup</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-carousel>
          <v-carousel-item
            v-for="(item,i) in meetups"
            :src="item.imageUrl"
            :key=i
            @click="onLoadMeetup(item.id)"
          >
            <div class="title">{{item.title}} - {{item.date | date}}</div>
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Home',

    data: () => ({
      meetups123: [
        {
          src: 'https://i.imgur.com/5rp2kFf.jpg',
          id: 'sgsdgs123',
          title: 'Image nnnn'
        },
        {
          src: 'https://i.imgur.com/dKO0llQ.jpg',
          id: 's35rfdg',
          title: 'Image nnnn'
        },
        {
          src: 'https://i.imgur.com/sLEsKUP.jpg',
          id: 'sgs9jhmgnmdgs123',
          title: 'Image nnnn'
        }
      ]
    }),
    computed: {
      meetups () {
        return this.$store.getters.featuredMeetups
      }
    },
    methods: {
      onLoadMeetup(id) {
        this.$router.push('/meetups/' + id)
      }
    }
  }
</script>
