<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" absolute temporary dark1>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Firebase Meetup
          </v-list-item-title>
          <v-list-item-subtitle>
            dev test
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in menuItems"
          :key="item.title"
          router
          :to="item.link"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item-action 
        v-if="userIsAuthenticated"
        @click="onLogout">
          <v-list-item-action>
            <v-icon>dmi-exit</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item-action>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      color="indigo darken-1"
      dark
    >
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-toolbar-title>
          <router-link to="/" tag="span" style="cursor: pointer">Dev Meetup</router-link>
        </v-toolbar-title>
      </div>

      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn v-for="item in menuItems" :key="item.title" :to="item.link">
          <v-icon left>{{item.icon}}</v-icon>
          {{item.title}}
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-items
        v-if="userIsAuthenticated"
      >
        <v-btn to="#" @click="onLogout">
          <v-icon left>mdi-logout</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    drawer: false,
  }),
  computed: {
    menuItems () {
      let menuItems = [
        { title: 'Sign up', icon: 'mdi-account-plus', link: '/signup' },
        { title: 'Sign in', icon: 'mdi-login', link: '/signin' },
      ]
      if (this.userIsAuthenticated) {
        menuItems = [
          { title: 'View Meetups', icon: 'mdi-account-supervisor', link: '/meetups' },
          { title: 'Organize  Meetup', icon: 'mdi-plus', link: '/meetup/new' },
          { title: 'Profile', icon: 'mdi-account-circle', link: '/profile' },
        ]
      }
      return menuItems
    },
    userIsAuthenticated () {
      return this.$store.getters.user != null && this.$store.getters.user != undefined
    }
  },
  methods: {
    onLogout () {
      this.store.dispatch('logout')
    }
  }
};
</script>
